<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionStringSalesDB" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SalesDB;Integrated Security=True;Connect Timeout=2;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>